.station-control {
  background-color: transparent;
}

.station-control #file-input {
  display: none;
}

.file-enabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.file-enabled.allow {
  opacity: 1;
  cursor: default;
  pointer-events: all;
}
